[submodule "coder"]
	path = vendor/drupal/coder
	url = https://git.drupalcode.org/project/coder.git
[submodule "devel"]
	path = web/modules/contrib/devel
	url = https://git.drupalcode.org/project/devel.git
