name: PHP Composer

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        php_version: ['7.3']

    steps:
    - name: Check out code
      uses: actions/checkout@v2
      with:
        submodules: true

    - name: Set up PHP ${{ matrix.php_version }}
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php_version }}
        
    - name: Validate composer.json and composer.lock
      run: >
        composer \
          validate

    - name: Install dependencies
      run: >
        composer \
          install \
          --prefer-dist \
          --no-progress \
          --no-suggest
      continue-on-error: true
      env:
        CONFIG_SYNC_DIRECTORY: web/sites/default/files/config_DtRpaidPppUTmimR2RrHuX-k0MsGJEYawvbf8N00mZ6lRwD6hWEPjIG00rRp8NI8JmqaSLcYYg/sync

    - name: PHP Code Style (phpcs)
      run:  ./vendor/bin/phpcs -pv

    - name: PHP Mess Detector (phpmd)
      run: >
        ./vendor/bin/phpmd \
          web/themes/ \
          text \
          cleancode,codesize,controversial,design,naming,unusedcode \
          --ignore-violations-on-exit

    - name: PHP STatic ANalyser (phpstan)
      run: >
        ./vendor/bin/phpstan analyse \
          --level=7 \
          web/themes/mosaic

    - name: PHP Quality Assurance (phpqa)
      run: >
        ./vendor/bin/phpqa \
          --analyzedDirs web/themes/mosaic \
          --tools phpmetrics,phploc:1,phpcs,phpmd,pdepend,phpcpd,psalm:1,security-checker \
          --output cli

    # Add a test script to composer.json, for instance: "test": "vendor/bin/phpunit"
    # Docs: https://getcomposer.org/doc/articles/scripts.md

    # - name: Run test suite
    #   run: composer run-script test
