name: PHP Composer

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Validate composer.json and composer.lock
      run: composer validate
      continue-on-error: true

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress --no-suggest
      continue-on-error: true
    
    - name: Show files
      run: |
        ls -la

    - name: PHP Code Style (phpcs)
      uses: deburca/actions-phpcs@master
      with:
        # Folder to check code style
        dir: web/themes/mosaic # optional, default is .
        extensions: php,module,inc,install,test,profile,theme,css,info,txt,md,yml # options, default is Drupal extensions
        standard: DrupalPractice # optional, default is DrupalPractice
        bin: '${{ github.workspace }}/vendor/bin/phpcs'
        installed_paths: '${{ github.workspace }}/vendor/drupal/coder/coder_sniffer'
      continue-on-error: true
  
    - name: PHP STatic ANalyser (phpstan)
      uses: deburca/actions-phpstan@master
      with:
        # Arguments to add to PHPStan CLI
        arguments: 'web/themes/mosaic --level=7' # optional, default is 
        bin: '${{ github.workspace }}/vendor/bin/phpstan'
      continue-on-error: true
    
    # Add a test script to composer.json, for instance: "test": "vendor/bin/phpunit"
    # Docs: https://getcomposer.org/doc/articles/scripts.md

    # - name: Run test suite
    #   run: composer run-script test
