name: PHP Composer

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Validate composer.json and composer.lock
      run: composer validate
      continue-on-error: true

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress --no-suggest
      continue-on-error: true
    
    - name: PHP Code Style (phpcs)
      run: composer run-script phpcs web/themes/mosaic
  
    - name: PHP STatic ANalyser (phpstan)
      run: composer run-script phpstan web/themes/mosaic --level=7 
    
    # Add a test script to composer.json, for instance: "test": "vendor/bin/phpunit"
    # Docs: https://getcomposer.org/doc/articles/scripts.md

    # - name: Run test suite
    #   run: composer run-script test
