name: PHP Composer

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress --no-suggest

    - name: PHP Lint
      uses: michaelw90/PHP-Lint@1.0.0
      continue-on-error: true
      
    - name: PHP Code Style (phpcs)
      uses: chindit/actions-phpcs@1.0.1
      with:
        # Folder to check code style
        dir: web/themes/mosaic # optional, default is .
        
    - name: PHPCodeSniffer
      uses: rtCamp/action-phpcs-inspection@v1.0.0
  
    - name: PHP STatic ANalyser (phpstan)
      uses: chindit/actions-phpstan@1.0.1
      with:
        # Arguments to add to PHPStan CLI
        arguments: 'web/ --level=7' # optional, default is 
    
    # Add a test script to composer.json, for instance: "test": "vendor/bin/phpunit"
    # Docs: https://getcomposer.org/doc/articles/scripts.md

    # - name: Run test suite
    #   run: composer run-script test
