name: PHP Composer

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        php_version: ['7.3']

    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Set up PHP ${{ matrix.php_version }}
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php_version }}
        
    - name: Validate composer.json and composer.lock
      run: composer validate
      continue-on-error: true

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress --no-suggest
      continue-on-error: true

    - name: PHP Code Style (phpcs)
      run:  ./vendor/bin/phpcs 
      continue-on-error: true
  
    - name: PHP STatic ANalyser (phpstan)
      run: >
        ./vendor/bin/phpstan analyse \
          --level=7 \
          web/themes/mosaic
      continue-on-error: true
    
    # Add a test script to composer.json, for instance: "test": "vendor/bin/phpunit"
    # Docs: https://getcomposer.org/doc/articles/scripts.md

    # - name: Run test suite
    #   run: composer run-script test
